@import './variables.module.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto', sans-serif;
}

body {
	color: white;
	background-color: $deimos-bg;
	border-color: $deimos-primary;
	hr {
		border-top: 1px solid $deimos-primary;
	}
}

// Classes
.c-primary {
	color: $deimos-primary;
}

.c-secondary {
	color: $deimos-secondary;
}

.c-blue {
	color: $deimos-blue;
}

.c-bg-alt {
	color: $deimos-bg-alt;
}

.bg-d-alt {
	background-color: $deimos-bg-alt;
}

.bg-d-blue {
	background-color: $deimos-blue;
}

.d-rotate-90-wrapper {
	display: block;
	position: relative;
	top: 0;
	right: 0;
}

.d-rotate-90 {
	position: absolute;
	top: 30vh;
	right: 0;

	/* Border is the new background */
	background: none;

	/* Rotate from top left corner (not default) */
	transform-origin: top right;
	transform: rotate(90deg);
}

.d-rotate-270-wrapper {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}

.d-rotate-270 {
	position: absolute;
	top: 30vh;
	left: 0;

	/* Border is the new background */
	background: none;

	/* Rotate from top left corner (not default) */
	transform-origin: top left;
	transform: rotate(270deg);
}

.img-white-shadow {
	box-shadow: -25px -25px rgba(30, 52, 83, 0.4);
}

.img-filtered {
	filter: brightness(90%) contrast(125%) grayscale(70%) saturate(40%);
}
