// Base Colors
$deimos-bg: #081a33;
$deimos-bg-alt: #5bdd78;

$deimos-primary: #ff845e;
$deimos-primary-dark: #bd6d54;

$deimos-secondary: #dddada;
$deimos-secondary-dark: #a6a6a6;

// Helpers
$deimos-border-color-primary: #969595;

// Classes
.c-primary {
  color: $deimos-primary;
}
